html {
    font-size: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    margin: 0;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}

h2 {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #000000;
}

button {
    outline: 0;
}

ul {
    list-style: none;
    margin: 0;
}


/*
======================================================
HEADER
======================================================
*/

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}


/*
======================================================
navbar
======================================================
*/

.navbar {
    display: flex;
    width: 100%;
    height: 7rem;
    margin: auto;
}

.main-nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: stretch;
}

.main-nav li img {
    height: 100%;
    object-fit: contain;
}

.main-nav li {
    display: flex;
    height: 2rem;
    width: 50%;
    justify-content: center;
}

.main-nav a {
    color: #0065FC;
    margin-top: 0;
    font-size: 1em;
}

.main-nav li:nth-of-type(1) {
    height: 2.5rem;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
}

.main-nav li:nth-of-type(2) {
    flex-grow: 0;
    flex-shrink: 1;
    order: 3;
    padding-left: 1rem;
    border-bottom: 0.15rem solid #f2f2f2;
}

.main-nav li:nth-of-type(2):hover {
    border-bottom: solid 0.15rem #0065FC;
}

.main-nav li:nth-of-type(2):active {
    border-bottom: solid 0.15rem #0065FC;
}

.main-nav li:nth-of-type(3) {
    flex-grow: 0;
    flex-shrink: 1;
    order: 4;
    padding-right: 1rem;
    border-bottom: 0.15rem solid #f2f2f2;
}

.main-nav li:nth-of-type(3):hover {
    border-bottom: solid 0.15rem #0065FC;
}

.main-nav li:nth-of-type(3):active {
    border-bottom: solid 0.15rem #0065FC;
}

.main-nav li:nth-of-type(4) {
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    flex-grow: 0;
    flex-shrink: 1;
    order: 2;
}


/*
======================================================
Search
======================================================
*/

#search {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 0.8em;
    padding: 0 1rem 0 1rem;
}

#search p {
    margin-top: 0.5em;
}

#search h2 {
    margin-bottom: 0;
}

#search form {
    display: flex;
    width: 100%;
    height: 3rem;
    font-size: 1.5em;
    justify-content: flex-end;
    align-items: center;
    border-radius: 1rem;
    box-shadow: inset 0px 0px 0px 0.1rem #f2f2f2;
}

#search form span {
    display: inline-flex;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    background-color: #f2f2f2;
    border-radius: 1rem;
}

#mysearch {
    display: inline-flex;
    flex: 5;
    width: 100%;
    border: none;
    font-weight: bold;
    color: black;
}

#mysearch::placeholder {
    font-weight: bold;
    color: black;
    padding-left: 1em;
    font-size: 1em;
}

#search_btn {
    display: none;
}

#search_btn_light {
    display: inline-flex;
    flex: 1;
    height: 100%;
    font-size: 1em;
    justify-content: center;
    align-items: center;
    color: #FFF;
    background-color: #0065FC;
    border: none;
    border-radius: 1rem;
    padding: 0;
}

#search_btn:active {
    border: none;
}


/*
======================================================
Filter
======================================================
*/

#filter_form {
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 1rem 0 0.25rem 0;
}

#filter_form p {
    display: flex;
    width: 100%;
}

.filter_btn {
    font-size: 1em;
    font-weight: bold;
    display: inline-flex;
    height: 3rem;
    background-color: #FFF;
    border-top: solid 0.1rem #F2F2F2;
    border-right: solid 0.1rem #F2F2F2;
    border-bottom: solid 0.1rem #F2F2F2;
    border-left: none;
    border-radius: 2rem;
    align-items: center;
    padding: 0;
    margin-bottom: 1rem;
}

.filter_btn:active {
    background-color: #f2f2f2;
}

.filter_btn i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: #DEEBFF;
    border-radius: 1.5rem;
    color: #0065FC;
}

.filter_btn span::before {
    content: '';
    margin: 1em;
}

.filter_btn span::after {
    content: '';
    margin: 1em;
}

.info {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-start;
    font-size: 1em;
    margin-bottom: 1.25em;
}

.info i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    width: 1.2rem;
    height: 1.2rem;
    color: #0065fc;
    border: solid 0.1em #f2f2f2;
    border-radius: 1rem;
    margin: auto;
    margin-right: 0.5em;
}

.info p {
    display: inline-flex;
    margin: 0;
}


/*
======================================================
MAIN
======================================================
*/

#main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.section_title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    margin-top: 2rem;
}

.section_title h2 {
    margin-right: auto;
    margin-top: 0;
    align-self: flex-start;
}

.nom {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.2em 0;
}

.price {
    font-size: 0.8em;
    margin: 0;
}

.stars {
    display: flex;
    align-items: flex-end;
    margin: auto auto 0 0;
    font-size: 0.8em;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #f2f2f2;
}

#main section {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: auto;
    flex: 2;
}

.grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

#more {
    margin: 2rem 0;
    height: 1.5em;
    align-items: center;
    color: black;
}

.top_img_card {
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    border: solid 0.3rem #fff;
    overflow: hidden;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.10);
}

.host_card_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    overflow: hidden;
}

.host_card_img img {
    width: 100%;
}

.bottom_caption {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 0.5em;
    padding-top: 0.5em;
    line-height: 1em;
}

#main aside {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0 1rem 0 1rem;
    background-color: #f2f2f2;
    flex: 1;
}

#main aside span i {
    display: flex;
    font-size: 1.2em;
}

.popular_column {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.left_img_card {
    display: flex;
    height: 145px;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 1rem;
    background-color: #fff;
    border: solid 0.3rem #fff;
    overflow: hidden;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.10);
}

.popular_card_img {
    display: flex;
    height: 9rem;
    width: 7.5rem;
    overflow: hidden;
    flex: 1;
}

.popular_card_img img {
    width: 100%;
    object-fit: cover;
}

.right_caption {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 1em 2.5em 0.2em 1em;
    width: 13rem;
    height: 100%;
    line-height: 1;
    flex: 1;
}


/*
======================================================
ACTIVITIES
======================================================
*/

#activities {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 0 1rem;
}

#wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: auto;
}

.card_activities {
    width: 100%;
    height: 190px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 1rem;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.10);
    font-size: 1em;
    font-weight: bold;
}

.card_activities p {
    margin-left: 1.25em;
}

.card_activities_img {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.card_activities_img img {
    width: 100%;
    object-fit: cover;
}


/*
======================================================
FOOTER
======================================================
*/

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.footer-link {
    width: 225px;
    font-size: 0.625em;
}

.footer-link ul {
    padding: 0;
}

.footer-link strong {
    font-size: 1.5em;
    line-height: 3em;
}

.footer-link a {
    font-size: 1em;
    line-height: 2em;
}